%img {
	display: block;
	height: auto;
	max-width: 100%;
}

%full-width {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: "";
	z-index: 2;
}

%vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

%btn {
	border: none;
	background: none;
}

%cell-middle {
	display: table-cell;
	vertical-align: middle;
}
