// Sizes
$desktop:              978px;
$tablet:               768px;
$mobile:               480px;
$container:            1280px;
$grid:                 980px;
$col-width:            72px;
$col-margin:           10px;

// Font
$font-size-default:    12px;
$font-primary:         'Arial', sans-serif;

// Colors
$color-text:           #7d7c7c;
$color-bold:           #656565;
$color-text-secondary: #b4b3b1;
$color-menu:           #666666;
$bg-color:             #eeeeee;
$btn-color-primary:    #64b5f6;

// Menu
$width-menu-large:     250px;
$width-menu-small:     70px;
